@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  font-size: 12px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Roboto', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: #2C2C2C;
  --facebook: #3b5998;
  --youtube: #e52d27;
  --twitter: #1D9BF0;
}

/* Bio Container */
.bio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.ticket-container>div {
  font-size: 1.2rem;
}

/* Ticket Button */
.ticket-button {
  padding: 0.75rem 1rem;
  transition: background-color 0.3s ease;
}

.ticket-button:hover {
  background-color: #45a049;
}

.ig-button:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%,
      #fdf497 5%, #fd5949 45%,
      #d6249f 60%, #285AEB 90%);
}

.tik-tok-button:hover {
  background: linear-gradient(45deg, #69C9D0, #EE1D52, #010101);
}

.fb-button:hover {
  background: var(--facebook);
}

.youtube-button:hover {
  background: var(--youtube);
}

.twitter-button:hover {
  background: var(--twitter);
}


.social-media-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  cursor: pointer;
  transition: all 0.3s;
  display: grid;
  place-items: center;
}

.social-media-button:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.social-media-button img {
  transition: all 0.3s;
}

.social-media-button:hover img {
  transform: scale(1.15);
}

@media only screen and (max-width: 1100px) {
  .bio-container {
    grid-template-columns: 1fr;
  }

  .bio {
    margin-right: 0;
  }
}

@media only screen and (max-width: 530px) {
  .socials-container {
    flex-direction: row;
    width: 400px;
  }

  .ig-button {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%,
        #fdf497 5%, #fd5949 45%,
        #d6249f 60%, #285AEB 90%);
  }

  .fb-button {
    background: var(--facebook);
  }

  .tik-tok-button {
    background: linear-gradient(45deg, #69C9D0, #EE1D52, #010101);
  }


  .youtube-button {
    background: var(--youtube);
  }

  .twitter-button {
    background: var(--twitter);
  }

}



@media only screen and (min-width: 530px) {
  .img-container {
    flex-direction: row;
  }

  .bio {
    margin-right: 5%;
  }

  .show-container {
    margin: 0 10%;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 32, 32, 32;
  }
}