@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  font-size: 12px;
}

/* Bio Container */
.bio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.ticket-container>div {
  font-size: 1.2rem;
}

/* Ticket Button */
.ticket-button {
  padding: 0.75rem 1rem;
  transition: background-color 0.3s ease;
}

.ticket-button:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 1100px) {
  .bio-container {
    grid-template-columns: 1fr;
  }

  .bio {
    margin-right: 0;
  }
}

@media only screen and (max-width: 530px) {
  .socials-container {
    flex-direction: row;
    width: 400px;
  }
}



@media only screen and (min-width: 530px) {
  .img-container {
    flex-direction: row;
  }

  .bio {
    margin-right: 5%;
  }

  .show-container {
    margin: 0 10%;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 32, 32, 32;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Roboto', sans-serif;
}